n8n-workflows/odoo-lead-ingestion.json
{
  "name": "Odoo Lead Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.event_id,\n  e.session_id,\n  e.known_id,\n  e.created_at,\n  COALESCE(fs.event_data->>'email', e.known_id) AS email,\n  fs.event_data->>'phone' AS phone,\n  fs.event_data->>'name' AS contact_name\nFROM events e\nLEFT JOIN events fs ON (\n  fs.session_id = e.session_id\n  AND fs.event_type = 'form_submit'\n  AND fs.created_at <= e.created_at\n)\nLEFT JOIN odoo_sync_log osl ON osl.event_id = e.event_id\nWHERE e.event_type = 'identity_linked'\n  AND osl.event_id IS NULL\nORDER BY e.created_at ASC\nLIMIT 50",
        "options": {}
      },
      "id": "node-fetch-events",
      "name": "Fetch Unprocessed Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "oTO31KuctSoTZg71",
          "name": "Postgres Reader"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-event-id",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-has-items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\n\n// Skip rows with no email\nif (!raw.email || typeof raw.email !== 'string') {\n  return [];\n}\n\nconst email = raw.email.trim().toLowerCase();\n\n// Skip empty email after trim\nif (email.length === 0) {\n  return [];\n}\n\nreturn [{\n  json: {\n    event_id: raw.event_id,\n    session_id: raw.session_id,\n    known_id: raw.known_id,\n    created_at: raw.created_at,\n    email: email,\n    phone: raw.phone || null,\n    contact_name: raw.contact_name || null\n  }\n}];"
      },
      "id": "node-normalize-email",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO odoo_sync_log (id, event_id, email, status, created_at, updated_at)\nVALUES (\n  gen_random_uuid(),\n  '{{ $json.event_id }}',\n  '{{ $json.email }}',\n  'pending',\n  NOW(),\n  NOW()\n)\nON CONFLICT (event_id) DO NOTHING;\n\nSELECT\n  CASE WHEN status = 'pending' THEN true ELSE false END AS was_inserted,\n  event_id,\n  email\nFROM odoo_sync_log\nWHERE event_id = '{{ $json.event_id }}' ",
        "options": {}
      },
      "id": "node-claim-event",
      "name": "Claim Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "A2nNxNlCxy4Ba2ju",
          "name": "Postgres Writer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-was-claimed",
              "leftValue": "={{ $json.was_inserted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-was-claimed",
      "name": "Was Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-lead-exists",
              "leftValue": "={{ ($json.result || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-lead-exists",
      "name": "Lead Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE odoo_sync_log\nSET status = 'duplicate',\n    odoo_lead_id = {{ ($json.result || [{}])[0].id || 0 }},\n    updated_at = NOW()\nWHERE event_id = '{{ $(\"Build Bodies\").item.json.event_id }}' ",
        "options": {}
      },
      "id": "node-mark-duplicate",
      "name": "Mark Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2000,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "A2nNxNlCxy4Ba2ju",
          "name": "Postgres Writer"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE odoo_sync_log\nSET status = 'created',\n    odoo_lead_id = {{ $json.result }},\n    updated_at = NOW()\nWHERE event_id = '{{ $(\"Build Bodies\").item.json.event_id }}' ",
        "options": {}
      },
      "id": "node-mark-created",
      "name": "Mark Created",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "A2nNxNlCxy4Ba2ju",
          "name": "Postgres Writer"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE odoo_sync_log\nSET status = 'error',\n    error_message = '{{ $json.message || $json.error }}',\n    attempts = COALESCE(attempts, 0) + 1,\n    updated_at = NOW()\nWHERE event_id = '{{ $(\"Build Bodies\").item.json.event_id || $(\"Was Claimed?\").item.json.event_id }}' ",
        "options": {}
      },
      "id": "node-mark-error",
      "name": "Mark Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2220,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "A2nNxNlCxy4Ba2ju",
          "name": "Postgres Writer"
        }
      }
    },
    {
      "id": "node-odoo-auth",
      "name": "Odoo Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://odoo:8069/web/session/authenticate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\": \"2.0\", \"method\": \"call\", \"params\": {\"db\": \"odoo\", \"login\": \"admin\", \"password\": \"admin\"}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-search-lead-http",
      "name": "Search Lead HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://odoo:8069/web/dataset/call_kw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ ($json.headers['set-cookie'] || [''])[0].split(';')[0] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Bodies').item.json.searchBody }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-create-lead-http",
      "name": "Create Lead HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://odoo:8069/web/dataset/call_kw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ ($('Odoo Auth').item.json.headers['set-cookie'] || [''])[0].split(';')[0] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Bodies').item.json.createBody }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-build-bodies",
      "name": "Build Bodies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ],
      "parameters": {
        "jsCode": "const { email, event_id } = $input.item.json;\nconst searchBody = JSON.stringify({\n  jsonrpc: '2.0', method: 'call',\n  params: {\n    model: 'crm.lead', method: 'search_read',\n    args: [[['email_from', '=', email]]],\n    kwargs: { fields: ['id', 'email_from', 'name'], limit: 1, context: {} }\n  }\n});\nconst createBody = JSON.stringify({\n  jsonrpc: '2.0', method: 'call',\n  params: {\n    model: 'crm.lead', method: 'create',\n    args: [[{ name: email, email_from: email, description: 'Captured via Zentria Tracking SDK', type: 'lead' }]],\n    kwargs: { context: {} }\n  }\n});\nreturn [{ json: { email, event_id, searchBody, createBody } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Events": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Claim Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Event": {
      "main": [
        [
          {
            "node": "Was Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Claimed?": {
      "main": [
        [
          {
            "node": "Build Bodies",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Bodies": {
      "main": [
        [
          {
            "node": "Odoo Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Auth": {
      "main": [
        [
          {
            "node": "Search Lead HTTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead HTTP": {
      "main": [
        [
          {
            "node": "Lead Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Exists?": {
      "main": [
        [
          {
            "node": "Mark Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Lead HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead HTTP": {
      "main": [
        [
          {
            "node": "Mark Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  }
}