landing/n8n-workflow-lead-capture.json
{
  "name": "Zentria - Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook - Lead Capture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "zentria-lead-capture"
    },
    {
      "parameters": {
        "rule": {
          "field": "form_type",
          "value": "contacto",
          "operation": "equals"
        }
      },
      "id": "filter-contacto",
      "name": "Filter - Contact Form",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "field": "form_type",
          "value": "curso",
          "operation": "equals"
        }
      },
      "id": "filter-curso",
      "name": "Filter - Course Form",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 500]
    },
    {
      "parameters": {
        "operation": "create",
        "modelId": "crm.lead",
        "name": "{{ $json.nombre }}",
        "emailFrom": "{{ $json.email }}",
        "phone": "{{ $json.telefono }}",
        "description": "Interés: {{ $json.interes }}\n\nMensaje: {{ $json.mensaje }}\n\nUTM Source: {{ $json.utm_source }}\nUTM Medium: {{ $json.utm_medium }}\nUTM Campaign: {{ $json.utm_campaign }}",
        "options": {
          "tags": ["web-lead", "landing-page"]
        }
      },
      "id": "odoo-create-lead",
      "name": "Odoo - Create Lead",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "modelId": "crm.lead",
        "name": "Curso CRM: {{ $json.nombre }}",
        "emailFrom": "{{ $json.email }}",
        "phone": "{{ $json.telefono }}",
        "description": "Inscripción al curso de CRM",
        "options": {
          "tags": ["web-lead", "curso"]
        }
      },
      "id": "odoo-create-lead-curso",
      "name": "Odoo - Create Lead (Curso)",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [750, 500]
    },
    {
      "parameters": {
        "to": "davidscuderi@hotmail.com",
        "subject": "=?UTF-8?B?{{ $json.form_type === 'contacto' ? 'Nuevo Lead' : 'Nueva Inscripción' }} - {{ $json.nombre }} =?=",
        "options": {
          "body": "=?UTF-8?B?{{\n  'Nombre: ' + $json.nombre + '\\n' +\n  'Email: ' + $json.email + '\\n' +\n  'Teléfono: ' + ($json.telefono || 'No proporcionado') + '\\n' +\n  'Empresa: ' + ($json.empresa || 'No proporcionada') + '\\n' +\n  'Tipo: ' + ($json.form_type === 'contacto' ? 'Contacto' : 'Curso CRM') + '\\n\\n' +\n  ($json.interes ? 'Interés: ' + $json.interes + '\\n' : '') +\n  ($json.mensaje ? 'Mensaje: ' + $json.mensaje : '')\n}}"
        }
      },
      "id": "email-notification",
      "name": "Email - Notify David",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "to": "davidscuderi@hotmail.com",
        "subject": "=?UTF-8?B?Nueva inscripción - {{ $json.nombre }} =?=",
        "options": {
          "body": "=?UTF-8?B?{{\n  'Nueva inscripción al curso de CRM\\n\\n' +\n  'Nombre: ' + $json.nombre + '\\n' +\n  'Email: ' + $json.email + '\\n' +\n  'Teléfono: ' + ($json.telefono || 'No proporcionado')\n}}"
        }
      },
      "id": "email-notification-curso",
      "name": "Email - Notify (Curso)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "Webhook - Lead Capture": {
      "main": [
        [
          {
            "node": "Filter - Contact Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Contact Form": {
      "main": [
        [
          {
            "node": "Odoo - Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Course Form": {
      "main": [
        []
      ]
    },
    "Odoo - Create Lead": {
      "main": [
        [
          {
            "node": "Email - Notify David",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo - Create Lead (Curso)": {
      "main": [
        [
          {
            "node": "Email - Notify (Curso)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "zentria-lead-capture"
}
